.menu {
  .menu-wrapper {
    min-height: 100vh;
    width: 70px;
    position: absolute;
    background-color: #fff;
    top: 0;
    right: 15px;
    z-index: 1;
    .menu-button {
        width: 24px;
        height: auto;
        cursor: pointer;
    }
    .icon {
        width: 18px;
    }
  }
  .menu-options {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    height: 100vh;
    font-family: 'Proxima Nova',serif;
    align-items: center;
    justify-content: center;
    z-index: 2;
    display: none;
    transition: all cubic-bezier(0.19, 1, 0.22, 1);
    & > .row > div {
      margin-bottom: 30px;
      h1 {
        font-size: 56px;
      }
    }
  }
  a {
    color: $athengray;
    text-decoration: none;
  }
  a.nuxt-link-active {
    text-decoration: none;
    color: $outerspace;
  }
}
